@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Nunito:wght@400;600;700&family=Roboto:wght@400;700&display=swap');

body {
  font: 1em/1.5 'Nunito', sans-serif;
  background: #E5E5E5;
  color: #333;
}

.header-container {
  width: 100%;
  background: #004374;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1{
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0.5em 0;
}

.header, .todo-btn, .todoList-container {
  width: 80%;
  margin: 0 auto;
}

.todo-btn {
  margin-top: 5em;
}

.todo-btn button, .btn {
  width: 95px;
  margin: 1.5em 0.8em 1.7em 0;
  padding: 0.8em;
  text-align: left;
  font-size: 0.7rem;
  background: #ffffff;
  color: #004374;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.todo-btn .active {
  background: #004374;
  color: #96ECFF;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 350px;
  background: #eceaea;
  padding: 0.5em 0.9em;
}
.modal-header {
  border-bottom: 1px solid #ccc;
  padding: 0.6em 0;
}

.modal-title {
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 600;
}

.input {
  width: 100%;
  border: 1px solid #ddd;
  resize: none;
  padding: 0.8em;
  margin-bottom: 1em;
}

.modal-body {
  padding: 0.6em 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-top: 1px solid #ccc;
}


.todo-item {
  width: 100%;
  background: #ffffff;
  margin: 0.6em 0;
  /* padding: 0.5em 1em; */
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.todo-heading {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  padding: 0.7em 1.5em 0.9em 0.7em;
  font-size: 0.8rem;
}

.todo-title {
  padding-left: 2em;
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
}

.todo-priority {
  margin-left: auto;
  font-size: 0.9rem;
}

.todo-description {
  margin-left: 3.3em;
  padding: 0.9em;
  font-size: 0.8rem;
  color: #555555;
  font-family: 'Roboto', sans-serif;
}

.todo-done .todo-heading {
  background: #004374;
  color: #ffffff;
}



